.App {
  background-color: #282c34;
  min-width: 100%;
  max-width:fit-content;
  min-height: 100%;
  max-height: fit-content;
}
.App .head {
  color: white;
  display: block;
  width: max-content;
}

.App-link {
  color: #61dafb;
}