.controlPanelParent {
    display: block;
    width: 100%;
}
.controlPanel {
}
.controlPanel .refresh {
    display:grid;
}
.controlPanel .viewControl {
    display:grid;
}
.controlPanel .search {
    display:grid;
}
.controlPanel .alterControl {
    display:grid;
}