.header{
    display: grid;
    padding: 0.5rem 1rem;
    height: fit-content
}
.hrcLogo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    position: absolute;
    left: 50%;
    -webkit-user-select: none;
    user-select: none;
}
.header .companyName{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}
.header .companyName img{
    margin-right: 1rem;
    transform: scale(1.3);
    -webkit-user-select: none;
    user-select: none;
}
.header .companyName span{
    color: #FFF;
    font-size: 23px;
    font-weight: 500;
    -webkit-user-select: none;
    user-select: none;
}
.heading {
    display:flex;
    justify-content: center;
    margin-top: .4rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: .1rem solid #1976d2;
    border-radius: .5rem;
}
.heading p {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    border: 0;
    color: #1976d2;
    -webkit-user-select: none;
    user-select: none;
}
.AppLogo {
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .AppLogo {
      animation: App-logo-spin infinite 2.5s linear;
    }
}
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}