.tableView {
    display:contents;
    color: #ffffff;
    justify-content: center;
    -webkit-user-select: none;
    user-select: none;
}
.tableView .tableContainer {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 25rem;
  justify-content: center;
  margin-top: 3rem;
  border-radius: 2rem;
}
.tableView .tableContainer::-webkit-scrollbar {
  width: 0rem;
  height: 1.6rem;
  border-radius: 3rem;
}
.tableView .tableContainer::-webkit-scrollbar:hover {
  background-color: #333b4922;
}
.tableView .tableContainer::-webkit-scrollbar:active{
  height: 1rem;
  background-color: #333b495a;
}
.tableView .tableContainer::-webkit-scrollbar-thumb{
  background-color: #1976d245;
}
.tableView .tableContainer::-webkit-scrollbar-thumb:hover{
  background-color: #1976d291;
  border-radius: .6rem;
}
.tableView .tableContainer::-webkit-scrollbar-thumb:active{
  background-color: #1976d2cf;
  border-radius: .8rem;
}
.tableView .tableContainer::-webkit-scrollbar-corner{
  background-color: #1976d200;
}
.tableView .tableContainer .table {
  display: block;
  white-space: nowrap;
}
.tableView .tableContainer .tableRow {
  border-radius: 1rem;
}
.tableView .tableContainer .tableRow::selection {
  background-color: #1976d2;
}
.tableView .tableContainer .tableHead .tableCell{
  background-color: #282c34;
  color: #1976d2;
}
.tableView .tableContainer .tableRow:nth-child(even) {
  background-color: #2c3037;
}
.tableView .tableContainer .tableRow:nth-child(odd) {
  background-color: #282f3b;
}
.tableView .tableContainer .tableRow:hover {
  background-color: #24272f;
}
.tableView .tableContainer .tableRow .tableCell {
  color: white;
}
.tableView .tableContainer .tableCell {
  flex: 1;
  white-space: nowrap;
  text-align: center;
}

.tableView .tableFunctions {
  display: block;
  margin-top: 2rem;
}
.tableView .tableFunctions .Button{
    padding: 10px;
    flex: 1;
    white-space: nowrap;
    text-align: center;
    border-radius: 2rem;
    font-size: 1em;
}
.tableView .tableFunctions .message #pgno {
  background-color: #1976d2b8;
  border-radius: .5rem;
  text-align: center;
}
.tableView .tableFunctions .message #pgno::-webkit-inner-spin-button, 
.tableView .tableFunctions .message #pgno::-webkit-outer-spin-button {
    appearance: none;
}
.tableView .tableFunctions .message #pgno:focus {
  background-color: unset;
  border-radius: .5rem;
  color: white;
  -webkit-user-select: text;
  user-select: text;
}
.tableView .tableFunctions .Button:disabled{
  color: #1e1d1d;
  background-color: #1976d259;
}
.tableView .tableFunctions .alterPageButtonGroup {
  margin-top:.1rem;
  margin-bottom: 2rem;
}