.App {
  background-color: #282c34;
  min-width: 100%;
  max-width:fit-content;
  min-height: 100%;
  max-height: fit-content;
}
.App .head {
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}