.App {
  background-color: #282c34;
  text-align: center;
  min-width: 100%;
  max-width: max-content;
  min-height: 100%;
  max-height: max-content;
}
.App-header {
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}