.dialog {
    justify-content: center;
    background-color: #282c34b1;
    color: #1976d2;
}
.dialog .dialogContent {
    background-color: #282c34;
    color: #1976d2;
}
.dialog .dialogContent .dialogContentText {
    color: #1976d2;
}